body {

    color:rgb(17, 2, 24);
    font-family: 'Times New Roman', Times, serif;
  }
  
  .jumbotron {
    background-image: url("../css/bacteria.jpg");
    background-size: 100% 100%;
    opacity: .9;
    text-align: center;
    color: rgb(244, 239, 252);   
    
  } 
  
  .well {
  background-color: rgb(63, 118, 160);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 90;
  font-size: smaller;
  
  
  }
  
  .panel {
    background-color: rgb(181, 215, 246);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 90;
    
  }
  
  
  .know {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 90;
  font-size: medium;
  background-color: rgb(248, 240, 240);
  
  }
  
  .bar {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 90;
  font-size: medium;
  background-color: rgb(206, 200, 200);

  }
  
  .guage {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 90;
  font-size: medium;
  background-color: rgb(194, 186, 186);
  }
  